# Base de datos Supabase - Producción
DATABASE_URL="postgresql://postgres.rwsqkirgxsxrpjepjhtr:amesticaportal@aws-1-us-east-2.pooler.supabase.com:6543/postgres"

# NextAuth.js
NEXTAUTH_SECRET="bb180c6364b8d19fc0a57626c2a623f60aedc883c5e5ada4e9908931b8fceb7e"
NEXTAUTH_URL="http://localhost:3000"